#### setup configurations ####
## set according to the machine configurations
# the root folder for PX4-Autopilot
# Full address, do not use '~/'
PX4_HOME=/src/PX4-Autopilot/
CATKIN_HOME=/src/catkin_ws/
# run >> roslaunch-logs to find out the correct address
ROS_HOME=/root/.ros/
# where to copy the generated logs to (will not copy if not present)
LOGS_COPY_DIR=results/
# A folder to save the experiment results
RESULTS_DIR=results/

# test environment defaults, you probably do not need to change them
SIMULATOR=ros
SPEED=1
DRONE=ros
HEADLESS=True
AVOIDANCE_WORLD=collision_prevention
AVOIDANCE_LAUNCH=/usr/local/lib/python3.8/dist-packages/aerialist/resources/simulation/collision_prevention.launch
# PARAMS=venv/lib/python3.8/site-packages/aerialist/resources/simulation/params_avoidance.csv

# Positioning system
USE_GPS=False
PLOT_TESTS_XYZ=False
# DISTANCE_METHOD=frechet
# DISTANCE_METHOD=dtw-t
# DISTANCE_METHOD=dtw-tweaked
# DISTANCE_METHOD=dtw

# Aerialist Agent
AGENT=docker #docker, k8s, local
# k8s
ROS_KUBE_TEMPLATE=/usr/local/lib/python3.8/dist-packages/aerialist/resources/k8s/k8s-job-avoidance.yaml
KUBE_TEMPLATE=/usr/local/lib/python3.8/dist-packages/aerialist/resources/k8s/k8s-job.yaml

# webdav server
# WEBDAV_DL_FLD=/tmp/
# WEBDAV_UP_FLD=tmp/
# WEBDAV_HOST=
# WEBDAV_USER=
# WEBDAV_PASS=

# SEARCH_FLD_NAME=


#### algorithm configurations ####
## update (with care) to control search process
# mutations to use
# x,y -> move the obstacle in x,y | r -> rotate | sx,sy,sr-> resize in x,y,radius (for cylinder))
SEARCH_OBST_MUTATIONS=x,y,r,sx,sy
# minimum rounds of mutations
SEARCH_OBST_MIN_ROUNDS=3
# randomize the order of the mutations
SEARCH_RANDOM_ORDER=True 
# randomize the order, also in the first round of the mutations
SEARCH_RANDOM_ORDER_1ST=False 

# default delta for move/resize mutations (m)
SEARCH_OBST_DELTA=4
# minimum delta for move/resize mutations (m)
SEARCH_OBST_MIN_DELTA=0.02
# default delta for rotate mutations (rad)
SEARCH_OBST_DELTA_R=0.349
# minimum delta for rotate mutations (rad)
SEARCH_OBST_MIN_DELTA_R=0.017

# obstacle validity check: minimum gap between the obstacles
SERACH_MIN_OBSTACLE_GAP=0.0
# obstacle validity check: minimum thickness of the mutated obstacle (widht, lenght, diammeter)
SEARCH_MIN_OBSTACLE_THICKNESS=0.0
# obstacle validity check: minimum height of the mutated obstacle
SEARCH_MIN_OBSTACLE_HEIGHT=0.0
# obstacle validity check: minimum gap between the mutated obstacle and the waypoints (if present)
SEARCH_MIN_WAYPOINT_GAP=0.0
# obstacle validity check: whether the obstacles can intersect (usefull when obstacles have overlapping borders)
SEARCH_OBSTACLES_CAN_INTERSECT=False

# maximum steps with no improvement to tolerate in the local search
SEARCH_OBST_MAX_STALL=3
# maximum steps with steady fitness to tolerate in the local search
SEARCH_OBST_MAX_SAME=2
# minimum fitness change required to be considered improvement
SEARCH_CHANGE_THRESHOLD=0.01